---
import Layout from '../layouts/Layout.astro';

import { buttonVariants } from "@/components/ui/button";
import { Card, CardHeader, CardTitle, CardDescription, CardContent, CardFooter } from "@/components/ui/card";
import { AvatarComponent } from "../components/Avatar.tsx";
import Footer from '@/components/Footer.astro';
import Hero from '@/components/sections/Hero.astro';
import Features from '@/components/sections/Features.astro';
import HowItWorks from '@/components/sections/HowItWorks.astro';
import Pricing from '@/components/sections/Pricing.astro';

---

<Layout title="LibreMemorial - Free & Open source memorial page">

  <main class="container mx-auto px-4 py-16 max-w-7xl">
   <Hero />
   <Features />
   <HowItWorks/>
   <Pricing />
  </main>
</Layout>