---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/navbar/Navbar.astro';
import '@fontsource-variable/space-grotesk';
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="LibreMemorial - Free & Open source memorial page" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- OpenGraph meta tags -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content="LibreMemorial - Free & Open source memorial page" />
		<meta property="og:image" content="/opengraph.png?v=1" />
		<meta property="og:url" content="https://librememorial.org" />
		<meta property="og:type" content="website" />
	</head>
	<Navbar  class:list={''}/>
	<body>
		<slot />
	</body>
<Footer />
</html>
<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style> -->
